@model IEnumerable<EcommerceMusical.Web.Models.modelProduto>
@{
    ViewBag.Title = "Lista de Comentarios";
    Layout = "~/Views/Shared/_LayoutPainel_de_Controle.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/comentario.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="comentarios-adm">
        <div class="bg-red">
            <h1>Comentários</h1>
        </div>

        <div class="cards-comentarios col-lg-10 col-md-10 col-sm-12">
            @foreach (var item in Model)
            {
                <div class="card-comentario ">
                    <div class="user">
                        <div class="image-user-coment">
                            <img src="@item.img_usuario" alt="">
                        </div>
                        <div class="nome-user">
                            <h3>@item.nm_usuario</h3>
                        </div>
                    </div>

                    <div class="comentario">
                        <p>@item.ds_comentario</p>
                    </div>

                    <div class="data-comentario">
                        <p>@item.dt_comentario</p>
                    </div>
                    @if (Session["tipoGerente"] != null)
                    {
                        <div class="btn-excluir">
                            <a href="~/Comentario/excluirComentario/@item.cd_comentario"><button onclick="return confirm('Deseja realmente excluir esse Comentário?!');">Excluir</button></a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>